<section class="user-details">

  <p class="avatar"><%= image_tag @user.avatar_url 150 %></p>

  <div class="info-block">

  <h2><%= link_to @user.name, @user %></h2>
  <p class="bio">Bio goes here. Excuse me! Mark it zero. Next frame. People forget that the brain is the biggest erogenous zone. Are you employed, Mr. Lebowski?</p>

  <ul class="stats">
    <li class="total-score"><span><%= @user.total_score %></span> Total Score</li>
    <li class="total-score"><span><%= @user.achievements.count %></span> Badges</li>
  </ul>

  </div>

</section>

<div class="score">
  <h2>Score</h2>

    <%- @user.metric_totals.each do |metric| %>
    <li class="<%= metric.description %>"><span><%= metric.event_total %></span> <%= metric.description %></li>
    <%- end %>

</div>

<div class="achievements">

  <h2>Achievments</h2>

  <table>
    <%- @user.achievements.each do |achievement| %>
      <%= render partial: 'shared/badge', locals: { badge: achievement.badge } %>
    <%- end %>
  </table>

</div>
