<section class="user-details">

  <p class="avatar"><%= image_tag @user.avatar_url 150 %></p>

  <div class="info-block">

  <h2><%= link_to @user.name, @user %></h2>
  <p class="bio"><%= @user.bio %></p>

  <ul class="stats">
    <li class="total-score"><span><%= @user.total_score %></span> Total Score</li>
    <li class="total-badges"><span><%= @user.achievements.count %></span> Badges</li>
  </ul>

  </div>

</section>


<section class="badges">

  <h2>Badges</h2>

  <ul>
    <%- @user.achievements.each do |achievement| %>
      <li><%= render partial: 'shared/badge', locals: { badge: achievement.badge } %></li>
    <%- end %>
  </ul>


</section>

<section class="summary">
  <h2>Summary</h2>

    <%- @user.metric_totals.each do |metric| %>
    <li class="<%= metric.description %>"><span><%= metric.event_total %></span> <%= metric.description %></li>
    <%- end %>

</section>


