<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Reward</th>
      <th>Creator</th>
      <th>Created</th>
      <%- if type == 'claimed' %>
        <th>Claimant</th>
        <!-- <th>Needs claiming by</th> -->
        <th>Claimed</th>
      <%- end %>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% bounties.each do |bounty| %>
      <tr>
        <td>
          <a name="bounty-<%= bounty.slug %>" />
          <%= link_to bounty.description, "#bounty-#{bounty.slug}" %>
        </td>
        <td><%= bounty.reward %></td>
        <td><%= bounty.created_by.name %></td>
        <td><%= bounty.created_at %></td>
        <%- if type == 'claimed' %>
          <td><%= bounty.claimed_by.try(:name) %></td>
          <!-- <td><%= bounty.needs_claiming_by %></td> -->
          <td><%= bounty.claimed_at %></td>
        <%- end %>

        <td>
          <%- if !bounty.claimed? && can?(:edit, bounty) %>
            <p><%= link_to 'Edit', edit_bounty_path(bounty) %></p>
          <%- end %>

          <%- if can? :destroy, bounty %>
            <p><%= link_to 'Destroy', bounty, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <%- end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
