<%- provide :head do -%>
   <%= stylesheet_link_tag :registrations -%>
<%- end -%>

<%- provide :pre_main do -%>
  <div class="hero">
    <div class="container">
      <h2>Have we piqued your interest? Let's stay in touch!</h2>
      <h3>We've got grand plans for Hilander, and we want to share them with you</h3>
    </div>
  </div>
<%- end -%>

<section class="container registrations">

  <% unless @registered %>



    <%= form_for(@registration) do |f| %>
      <% if @registration.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

          <ul>
          <% @registration.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :email, placeholder: 'your@email.here' %>
      </div>

      <div class="actions">
        <%= f.submit value: 'Register', class: 'button' %>
      </div>

    <% end %>

  <% end %>

  <section class="container organisations">

    <h2>Organisations experiencing the quickening</h2>

    <ul class="organisations">
      <li>
        <%= link_to image_tag(asset_path('hooroo.png')), organisation_url('hooroo') %>
        <p>Hooroo</p>
      </li>
      <li>
        <%= link_to image_tag(asset_path('agile-aus.png')), organisation_url('agileaus') %>
        <p>Agile Australia</p>
      </li>
    </ul>

  </section>

</section>
