<%= image_tag badge_image_url(achievement.badge) %>

<div class="badge-details">
  <h3 class="badge-name"><%= achievement.description %></h3>
  <p class="badge-description"><%= achievement.tag %></p>
</div>

<div class="achievement-details">
  <p class="badge-takeup"><%= achievement.badge_takeup_count - 1 %> other Highlanders have this badge</p>
  <p class="achievement-date"><%= achievement.created_at %> ago</p>
</div>
