<%= image_tag( badge_image_url(achievement.badge), 'data-badge' => achievement.name ) %>

<div class="badge-details" data-badge="<%= achievement.name %>">
  <h3 class="badge-name"><%= achievement.description %></h3>
  <p class="badge-description"><%= achievement.tag %></p>
  <p class="badge-date"><%= achievement.created_at %> ago</p>
</div>
