<%= link_to user_path(rankee.user) do %>
  <p class="rank"><%= (rankee.index) %></p>

  <ul class="details">
    <li class="avatar"><%= image_tag rankee.user.avatar_url 90 %></li>
    <li class="name"><%= rankee.user.name %></li>
    <li class="bio"><%= rankee.user.bio %></li>
  </ul>

  <ul class="scores">
    <li class="total-score"><span><%= rankee.user.running_score %></span> Score</li>
    <li class="total-badges"><span><%= rankee.user.total_badges %></span> Badges</li>
  </ul>

<%- end -%>
