<tr class="user">
  <td class="avatar"><%= image_tag user.avatar_url %></td>
  <td class="name"><%= user.name %></td>
  <td class="email"><%= link_to user.email, user %></td>
  <td class="total-score"><%= user.total_score %></td>
  <td class="total-badges"><%= user.total_badges %></td>
</div>
