<%- provide :pre_main do -%>
<div class="hero">
  <h2>Be awesome at what you do, earn badges and become the leader!</h2>
</div>
<%- end -%>

<ul class="ranking">

  <%- @users.each do |user| -%>
    <li class="rankee">

      <p class="avatar"><%= image_tag user.avatar_url %></p>

      <div class="details">
        <p class="name"><%= link_to user.name, user_path(user.id_or_slug) %></p>
        <p class="bio"><%= user.bio %></p>
      </div>

      <ul class="scores">
        <li class="total-score"><%= user.total_score %></li>
        <li class="total-badges"><%= user.total_badges %></li>
      </ul>

      <p class="last-updated"><%= user.last_event_created_at %></p>

    </li>
  <%- end -%>

</ul>
