<%- provide :head do -%>
   <%= stylesheet_link_tag :welcome -%>
<%- end -%>

<%- provide :pre_main do -%>
  <div class="hero">
    <div class="container">
      <h2>Highlander turns work into a game. Be awesome, earn badges and become the leader!</h2>
    </div>
  </div>
<%- end -%>

<ul class="ranking">

  <li class="running">Weekly running score</li>

  <%- @users.each_with_index do |user, i| -%>
    <li class="rankee">
      <%= link_to user_path(user) do %>
        <p class="rank"><%= (i + 1) %></p>

        <ul class="details">
          <li class="avatar"><%= image_tag user.avatar_url 90 %></li>
          <li class="name"><%= user.name %></li>
          <li class="bio"><%= user.bio %></li>
        </ul>

        <ul class="scores">
          <li class="total-score"><span><%= user.running_score %></span> Score</li>
          <li class="total-badges"><span><%= user.total_badges %></span> Badges</li>
        </ul>

      <%- end -%>
    </li>
  <%- end -%>

</ul>
