<%- provide :pre_main do -%>
<div class="hero">
  <h2>Be awesome at what you do, earn badges and become the leader!</h2>
</div>
<%- end -%>

<table class="ranking">
  <thead>
    <tr>
      <th scope="col">Avatar</th>
      <th scope="col">Name</th>
      <th scope="col">Total Score</th>
      <th scope="col">Badges</th>
    </tr>
  </thead>

  <tbody>
  <%- @users.each do |user| -%>
    <tr>
      <td class="avatar"><%= image_tag user.avatar_url %></td>
      <td class="name">
        <p><%= link_to user.name, user %></p>
        <p class="last-updated"><span>Updated:</span> <%= user.last_event_created_at %></p>
      </td>
      <td class="total-score"><%= user.total_score %></td>
      <td class="total-badges"><%= user.total_badges %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>
