<%- provide :head do -%>
  <%= stylesheet_link_tag :pages -%>
<%- end -%>

<section class="info-block about main-column">

  <h1>Hilander</h1>

  <p>Hilander turns work into a game by rewarding and encouraging your delivery team.</p>

  Tweet <%= link_to '@HilanderHQ', 'http://twitter.com/HilanderHQ', target: '_blank' %>
  <br/>
  <br/>
  Email <%= link_to 'hello@hilander.io', 'mailto:hello@hilander.io', target: '_blank' %>

  <h2>How it Works</h2>
  <ul>
    <li>Your team decides which practices it values</li>
    <li>Hilander rewards your team for adopting those practices</li>
  </ul>

  <h2>An example</h2>

  <p>
    To decrease the number of build failures in our Continuous Integration pipeline,
    the team at <%= link_to 'Hooroo', 'http://www.hooroo.com' %> decided to try committing
    smaller, more frequent code changes.
  </p>

  <p>
    Despite our best intentions, we found it challenging to break old habits and adopt the
    best practices we had agreed upon.
  </p>

  <p>
    We needed a reminder, but we didn't want to be nagged. We needed an incentive.
    We needed <em>points</em>, and we needed <em>badges!</em>
  </p>

  <p>
    Hilander issues our team points every time we commit and push code
    (<%= link_to 'amongst other things', 'http://hooroo.hilander.io/badges' %>). At set milestones,
    (100 pushes, for example) team members get a badge to recognise their efforts. A weekly
    rolling leader board displays who is 'killing it' at any stage.
  </p>

  <h2>Integrations</h2>
  <ul>
    <li>GitHub</li>
    <li>Code Climate</li>
    <li>Jenkins CI</li>
    <li>Twitter</li>
    <li>Instagram</li>
    <li>Racquet.io</li>
  </ul>

  <em>...and more to follow</em>

  <h2>Team Hilander</h2>

  <ul>
    <li>
      <%= link_to image_tag('ash.png'), "http://twitter.com/ashmckenzie" %>
      Ash McKenzie
    </li>
    <li>
      <%= link_to image_tag('dan.png'), "http://twitter.com/unroundme" %>
      Dan Bradford
    </li>
    <li>
      <%= link_to image_tag('stu.png'), "http://twitter.com/stuliston" %>
      Stu Liston
    </li>
  </ul>

  <p><%= link_to 'Register your interest', 'http://hilander.io' %></p>

</section>
