<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google" value="notranslate">

    <title>Highlander</title>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%= yield :head %>

  </head>

  <body>

    <div class="flash warning topmost">
      <div>
        <p>Attention shoppers! <strong>Highlander</strong> is still experimental. Your total score may fluctuate as we determine how many points each activity deserves.</p>
      </div>
    </div>

    <header id="main-header" class="top-header">
      <div class="container">
        <h1><%= link_to "Highlander", root_path %>&nbsp;</h1>

        <nav>
          <ul>
            <% if signed_in? %>
              <li class="username">Hello there, <strong><%= current_user.name %></strong>!</li>
              <li><%= link_to 'My Account', user_path(current_user) %></li>
              <li><%= link_to 'Sign out', signout_path %></li>
            <% else %>
              <li class="sign-in"><a href="/auth/google_apps">Sign in</a></li>
            <% end %>
          </ul>
        </nav>
      </div>

    </header>

    <%= yield :pre_main %>

    <div id="main-container" class="container">
      <div class="main-column">

        <%= yield %>

      </div>
    </div>

    <%= yield :post_main %>


    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39526397-1']);
      _gaq.push(['_setDomainName', 'hooroo.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
