<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="google" value="notranslate">

    <title>Highlander</title>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>

  <body>

    <header id="main-header" class="top-header">
      <div class="container">
        <h1><%= link_to "Highlander", root_path %></h1>

        <nav>
          <ul>
            <% if signed_in? %>
              <li><%= current_user.name %></li>
              <li><%= current_user.name %></li>
              <li><%= link_to 'Sign out', signout_path %></li>
            <% else %>
              <li><a href="/auth/google_apps">Sign in</a></li>
            <% end %>
          </ul>
        </nav>
      </div>

    </header>

    <%= yield :pre_main %>

    <div class="flash warning">
      <div>
        <p>Attention shoppers! <strong>Highlander</strong> is still in experimental stage.</p>
        <p>Don't worry if you notice fluctuations in your total score. We're still determining how many points each activity deserves.</p>
      </div>
    </div>

    <div id="main-container" class="container">
      <div class="main-column">

        <%= yield %>

      </div>
    </div>

    <%= yield :post_main %>

  </body>
</html>
